html{
  font-size: 18px;
  font-family: Helvetica;
  line-height: 1.4em;
}

/*Header*/

.navigation{
  display: flex;
  background-color: cadetblue;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin: auto;
  width: 960px;
  height: 4rem;
  text-align: center;
  line-height: 1.4rem;
  margin-top: 1rem;
  z-index: 10;
}

.name{
  vertical-align: middle;
}

.navigation ul li{
  display: inline;
  padding: 1rem 1rem;
}

.mobilemenu{
  display: none;
}

header img{
  padding-left: 2em;
  padding-right:1em;
  height: 1.5rem;
}


header{
  background-image: url("file:///C:/ROttoProjects/TortleOptics/Resources/glasses-bg.png");
  height: 30rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner{
  width: 960px;
  display: flex;
  justify-content: flex-end;
  margin: auto;
}

.catchphrase{
  display: inline-block;
  background-color: white;
  color: black;
  margin-top: 10rem;
  padding: 0.75rem 5rem;
  line-height: 2.4rem;
  margin-right: -2rem;
  text-align: right;
}

h1{
  font-size: 2rem;
  font-weight: bold;
  margin: 0.67rem 0rem;
}

/*Icons*/

.icons{
  display: flex;
  width: 960px;
  height: 8rem;
  margin: auto;
  padding-top: 3rem;
  text-align: center;
  justify-content: center;
}

.exam img{
  width: 3.5rem;
  padding: 0rem 3rem;
}

.ruler img{
  width: 5rem;
  padding: 0rem 3rem;
}

.truck img{
  width: 5rem;
  padding: 0rem 3rem;
}

/*Info*/

.info{
  padding-top: 3rem;
  display: flex;
  width: 760px;
  margin: auto;
  justify-content: center;
}

.philo h2{
  background-color: cadetblue;
  width: 10rem;
  color: white;
  padding: 0.5rem 1.25rem;

}

.philo p{
  padding-top: 1rem;
  text-align: left;
  width: 45%;
}
.app h2{
  background-color: cadetblue;
  width: 10rem;
  color: white;
  padding: 0.5rem 1.25rem;
}

.app p{
  padding-top: 1rem;
  text-align:left;
  width: 95%;

}

footer{
  width: 960px;
  display: flex;
  padding: 4rem 4rem;

}

footer img{
  height: 1.5rem;
  padding-right: 1rem;

}


@media screen and (max-width: 1024px){
  .navigation{
    width: 100%;
    margin-top: 0px;
  }

  .banner{
    padding: .75rem 4rem;
    margin-top: 5rem;
    margin-right: 2rem;
  }

  .catchphrase h1{
    font-size: 1.33rem;
  }
}


@media screen and (max-width: 670px){
  .banner{
    width: 100%;
    text-align: center;
    justify-content: flex-end;
  }

  .name{
    display: none;
  }

  .icons{
    flex-direction: column;
    margin-top: 3.77rem;
    margin-bottom: 3.77rem;
  }

  .exam{
    padding-top: 1.54rem;
  }

  .ruler{
    padding-top: 1.54rem;
  }

  .truck{
    padding-top: 1.54rem;
  }

  .info{
    flex-direction: column;
    padding-top: 3.77rem;
    justify-content: center;
    width: 100%;
  }

  .philo h2{
    width: 100%;
    text-align: center;

  }

  .philo p{
    margin-bottom: 4rem;
    width: 100%;

  }

   .app h2{
    width: 100%;
    text-align: center;

  }

  .menu{
    display: none;
  }

  .mobilemenu{
    display: inline;
    padding: 1rem 1rem;
  }

  footer img{
    align-items: center;
  }

  footer h3{
    display: none;
  }
}
